// variable color

$color-black-0: #000; // default
$color-black-1:#999;
$color-white-0: #fff; //default
$color-blue:#007791;
$color-blue-1:#00adef;
$color-trans:transparent;

// variable font-size
$fs-0: 14px; //default
$fs-1: 15px;
$fs-2: 16px;
$fs-3: 20px;
$fs-4: 25px;
$fs-5: 30px;
//Còn 1 font-size: 36px;
$fs-6: 40px;

//variable margin
$mg-0: 2px;
$mg-1: 10px;
$mg-2: 25px;
$mg-3: 32px;
//variable border-radius
$border-radius: 2px;

//variable padding
$pd-0: 5px; //default
$pd-1: 10px;
$pd-2: 20px;
$pd-3: 24px;
$pd-4: 32px;

//variable line-height
$line-height-0: 1; //default


//variable font-weight
$fw-normal: normal;
$fw-bold-0: 600;
$fw-bold-1: 700;
$fw-bold: bold;


//break points
$breakpoints:(
    'super-large': 1440px,
    'extra-large': 1280px,
    'large' : 1024px,
    'medium' : 768px,
    'small' : 576px,
    'extra-small' : 480px,
)