header {
    height: 108px;
    .header__container {
        position: relative;
        width: 92%;
        margin: 0 auto;
        .header__logo {
            position: absolute;
            top: 22px;
            img:first-child {
                width: 64px;
                height: 64px;
            }
            img:last-child {
                height: 28px;
                width: 112px;
                margin: 30px 0px 0px 57px;
            }
        }
        .header__language {
            position: absolute;
            top: 10px;
            right: 0px;
        }
        .header__menu {
            position: absolute;
            top: 60px;
            right: 0px;
            .navbar {
                .collapse {
                    .navbar-nav {
                        .nav-item {
                            margin:0 18px;
                            .nav-link {
                                @include styleText($color-white-0, $fs-2, $fw-normal);
                                padding: 0;
                            }
                        }
                    }
                }
            }
        }
    }
}


// sdfsfsdf/d/