.container-outer{
    margin: 0 auto;
    max-width: 1680px;
    width: 100%;
}
.marginSection{
    width: calc(100% - 60px);
    margin-left: auto;
    margin-right: auto;
}
.container-inter{
    margin: 0 auto;
    padding-left: 1px;
    padding-right: 1px;
    width: 100%;
}
.line{
   border: 0;
   height: 1px;
   margin: 30px -1px;
   position: relative;
   &::before{
    background: #333;
    content: "";
    display: block;
    height: 1px;
    left: 0px;
    position: absolute;
    right: 0px;
   }
}
.space{
    height: 1rem;
    width: 100%;
}
.active{
    color: $color-blue-1;
}
div.space.spaceExtra{
    height: 2.5rem;
}
@include responsive ('extra-small'){
    .container-inter{
        max-width: 420px;
    }
}
@include responsive ('medium'){
    .container-inter{
        max-width: 708px;
    }
}
@include responsive ('large'){
    .container-inter{
        max-width: 964px;
    }
}
@include responsive ('extra-large'){
    .container-inter{
        max-width: 1280px;
    }
}
@include responsive ('super-large'){
    .container-inter{
        max-width: 1440px;
    }
}