*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body,html{
    background: $color-black-0;
    font-family: 'Roboto', sans-serif;
    @include styleText($color-white-0,$fs-0,$fw-normal);
    line-height: $line-height-0;
}

a{
    text-decoration: none;
    color: $color-white-0;
}
a:hover{
    text-decoration: none;
    color: $color-blue-1 !important; 
}

ul{
    list-style-type: none;
}
h3{
    @include styleText($color-white-0,$fs-5 + 4,$fw-normal);
}